USE [master]
GO
/****** Object:  Database [OgrenciSistemi]    Script Date: 6.01.2024 23:59:26 ******/
CREATE DATABASE [OgrenciSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OgrenciSistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OgrenciSistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OgrenciSistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OgrenciSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OgrenciSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OgrenciSistemi]
GO
/****** Object:  Table [dbo].[OgrenciBilgileri]    Script Date: 6.01.2024 23:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciBilgileri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OgrNo] [int] NOT NULL,
	[OgrAd] [nvarchar](50) NOT NULL,
	[OgrSoyad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OgrenciBilgileri] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
